/* GENERAL */
@font-face {
    font-family: 'hk_groteskbold';
    src: url('fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
    url('fonts/hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hk_groteskbold_italic';
    src: url('fonts/hkgrotesk-bolditalic-webfont.woff2') format('woff2'),
    url('fonts/hkgrotesk-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    font-family: 'hk_groteskbold', 'sans-serif';
    color: black;
    margin: 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    text-decoration: underline;
}
.custom-italic {
    font-family: 'hk_groteskbold_italic', 'sans-serif';
}
/* INTRODUCTION */
#introduction p{
    padding: 10rem 12% 0 12%;
    font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1;
    background: white;
    margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
    #introduction p{
        padding: 5rem 5% 0 5%;
    }
}
@media screen and (max-width: 600px) {
    #introduction p{
        padding: 2rem 16px 0 16px;
    }
}
/* PROJECTS*/
#projects-section-title {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    float: right;
    margin-right: 25px;
    top: 25px;
    font-size: 1.5rem;
}
#projects {
    margin-top: 10rem;
    font-size: calc(16px + (25 - 16) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 12%;
    padding-right: 12%;
    width: calc(100% - 24%);
    overflow: hidden;
}
#projects ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#projects ul li {
    margin-bottom: 1.5rem;
    line-height: 0.8;
}
#projects ul li:last-child {
    margin-bottom: 0;
}
.project-details {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#projects .project-title {
    margin: 0;
    position: relative;
    line-height: 1;
}
.project > a:hover {
    text-decoration: none;
}
.project-details-description {
    margin-top: auto;
    line-height: 1;
}
.project-details-link {
    color: blue !important;
}
.project-details-link:hover {
    cursor: pointer;
}
@media screen and (max-width: 1350px) {
    #projects-section-title {
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}
@media screen and (max-width: 1200px) {
    #projects {
        padding-left: 5%;
        padding-right: 0;
    }
}
@media screen and (max-width: 970px) {
    #projects {
        margin-top: 5rem;
    }
    #projects-section-title {
        writing-mode: horizontal-tb;
        text-orientation: initial;
    }
}
@media screen and (max-width: 720px) {
    #projects-section-title {
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}
@media screen and (max-width: 600px) {
    #projects {
        margin-top: 2.5rem;
    }
}
/* SKILLS */
#skills {
    font-size: calc(40px + (150 - 40) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 10px;
    margin-top: 10rem;
}
@media screen and (max-width: 550px) {
    #displayed-skill {
        height: 60px;
    }
}
/* CONTACT */
#contact {
    margin-top: 5rem;
    font-size: calc(20px + (50 - 20) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 4rem;
}
/* HELPERS */
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}
.hidden {
    visibility: hidden;
}
.mt-2 {
    margin-top: 1rem;
}
