/* GENERAL */
@font-face {
    font-family: 'axiformabold';
    src: url('fonts/Axiforma-Bold.woff2') format('woff2'),
    url('fonts/Axiforma-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'axiformamedium';
    src: url('fonts/Axiforma-Medium.woff2') format('woff2'),
    url('fonts/Axiforma-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'axiformaregular';
    src: url('fonts/Axiforma-Book.woff2') format('woff2'),
    url('fonts/Axiforma-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3 {
    margin: 0;
    font-weight: inherit;
    font-style: inherit;
    display: unset;
    font-size: 100%;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
    background-color: #F7F8FA;
    font-family: 'axiformaregular', 'sans-serif';
    color: #000000;
    margin: 0;
}
body {
    padding: 7rem 10rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin: 0;
}
main {
    width: calc(40vw);
}
a {
    color: #0737FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
/* GENERAL */


/* HEADER */
header ul {
    font-family: 'axiformabold', sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
header a {
    color: black;
    display: inline-flex;
    align-items: center;
    padding: 8px 20px 6px;
    background: #D3D9FC;
    border-radius: 8px;
    gap: .5rem;
}
header a svg {
    transform: translateY(-1px);
}
header a:hover {
    text-decoration: none;
    background: #CBD4FF;
}
/* HEADER */

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
main a {
    font-family: 'axiformabold', sans-serif;
}
/* MAIN */

/* INTRODUCTION */
#introduction .main {
    font-size: 2.7rem;
    font-family: 'axiformabold', sans-serif;
    margin-bottom: 3.5rem;
    line-height: 1.3;
}
#introduction .main-description {
    font-size: 1.8rem;
}
/* INTRODUCTION */

/* TEXT-CIRCLE */
.text-circle {
    display: inline-block;
    height: 390px;
    width: 400px;
    transform: translateX(50%);
    color: #0737FF;
}
.text-circle-wrapper-wrapper {
    position: fixed;
    bottom: 100px;
    right: 150px;
    -webkit-transform: translate(-5%, -5%) skewX(-30deg);
    -ms-transform: translate(-5%, -5%) skewX(-30deg);
    transform: translate(-5%, -5%) skewX(-30deg);
}
.text-circle p {
    font-size: 45px;
    font-family: 'axiformabold', sans-serif;
}
#text-circle-wrapper-position {
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    -ms-transition: all .15s ease;
    transition: all .15s ease;
}
/*.text-circle-wrapper-wrapper {*/
/*    -webkit-transform: translateZ(0);*/
/*    transform: translateZ(0);*/
/*    -webkit-transform-style: preserve-3d;*/
/*    transform-style: preserve-3d;*/
/*    -webkit-backface-visibility: hidden;*/
/*    backface-visibility: hidden;*/
/*}*/
/* TEXT-CIRCLE */


/* PROJECTS*/
#projects {
    font-size: calc(16px + (25 - 16) * ((100vw - 300px) / (1600 - 300)));
    overflow: hidden;
    margin-top: 3rem;
}
.project-details-title {
    font-size: 3rem;
    font-family: "axiformamedium", "sans-serif";
    line-height: 1;
    margin-bottom: .75rem;
}
.project-description {
    margin-bottom: 1rem;
}
.project-details-tech {
    font-family: 'axiformamedium', 'sans-serif';
    padding: 3px 10px 0 10px;
    background-color: #D3D9FC;
    display: inline-flex;
    width: fit-content;
    border-radius: 8px;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
#projects ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
#projects a {
    width: fit-content;
    line-height: 1;
}
.project-details > a:first-of-type {
    margin-bottom: .5rem;
}
.project-details {
    display: flex;
    flex-direction: column;
}
.project-details-description {
    font-size: 1.3rem;
    margin-top: 1rem;
}
/* PROJECTS*/

/* RESPONSIVE */
@media screen and (max-width: 1600px) {
    body {
        padding: 5rem 8rem;
    }
    main {
        width: calc(50vw);
    }
}
@media screen and (max-width: 1400px) {
    body {
        padding: 4rem 6rem;
    }
    main {
        width: calc(55vw);
    }
    .text-circle {
        height: 310px;
        width: 320px;
    }
    .text-circle-wrapper-wrapper {
        bottom: 30px;
        right: 80px;
    }
    .text-circle p {
        font-size: 39px;
    }
}
@media screen and (max-width: 1200px) {
    main {
        width: calc(60vw);
    }
    html {
        font-size: 14px;
    }
    .text-circle {
        height: 250px;
        width: 260px;
    }
    .text-circle-wrapper-wrapper {
        bottom: 30px;
        right: 80px;
    }
    .text-circle p {
        font-size: 33px;
    }
}
@media screen and (max-width: 993px) {
    body {
        padding: 2rem 4rem;
    }
    main {
        width: calc(65vw);
    }
    .text-circle {
        height: 190px;
        width: 200px;
    }
    .text-circle-wrapper-wrapper {
        bottom: 30px;
        right: 30px;
    }
    .text-circle p {
        font-size: 25px;
    }
    .project-details-description {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
    main {
        width: calc(72vw);
    }
    .text-circle {
        height: 162px;
        width: 170px;
    }
    .text-circle-wrapper-wrapper {
        bottom: 30px;
        right: 30px;
    }
    .text-circle p {
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    body {
        padding: 1.5rem 2rem;
        gap: 4rem;
    }
    main {
        width: 92%;
    }
    #introduction .main {
        margin-bottom: 1.3rem;
        font-size: 2.5rem;
    }
    .project-details-title {
        font-size: 2.3rem;
    }
    .text-circle {
        height: 90px;
        width: 100px;
    }
    .text-circle p {
        font-size: 10px;
    }
    .text-circle-wrapper-wrapper {
        bottom: 20px;
        right: 20px;
    }
    header ul {
        gap: 1rem;
    }
}
/* RESPONSIVE */

/* HELPERS */
.flex {
    display: flex;
}
.bold {
    font-family: 'axiformabold', 'sans-serif';
}
.flex-col {
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}
.hidden {
    visibility: hidden;
}
.mt-2 {
    margin-top: 1rem;
}
/* HELPERS */